* {
    box-sizing: border-box;
    }
body {
    background-color: #A8E890;
    font-family: "Bodoni Moda", serif;
    margin: 0;
    }

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 87vh;
}


header {
    background-color: #425F57;
    }
header h1{
        color: #A8E890;
        align-self: center;
        margin-left: 2rem;
        font-size: xxx-large;
        display: inline;
    }

header form {
    display: inline;
}



header h2{
    color: #A8E890;
    display: inline;
    font-size: small;
    position: relative;
    float: right;
    right: 2em;
    top: 7em;
}

.search {
        margin: 3rem;
        margin-left: 3rem;
        background-color: transparent;
        border: 2px solid #A8E890;
        border-radius: 50px;
        color: #A8E890;
        font-family: inherit;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        }
.search::placeholder {
        color: #A8E890;
        }
.search:focus {
        background-color: #749F82;
        outline: none;
        }
        div{
        display: flex;
        flex-wrap: wrap;
        }

    
#sort {
        margin: 3rem;
        background-color: transparent;
        border-radius: 50px;
        color: #425F57;
        font-family: Bodoni Moda, sans-serif;
        font-size: 1rem;
        padding: 0.05rem 0.5rem;
    }
    #sort:focus {
        background-color: #A8E890;
    }
#sortlabel {
        color: #425F57;
        margin: 1rem;
        font-family: Bodoni Moda, sans-serif;
    }





#displayAndSort {
    display: inline-block;
    width: 80vw;
    float: right;
    height: 90%;
    overflow: scroll;

}

#displayAndSortH1{
    display: inline-block;
    position: relative;
    top: 1em;
    left: 2em;
}



#filterSection{
    display: inline-block;
    width: 20vw;
    height: 100%;
    background-color: #749F82;
}

.filterTitle{
    display: block;
    position: relative;
    text-align: center;
}

.filterFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    position: relative;
    top: 3em;
}
.filterBoxBorder {
    border: #425F57 solid 5px;
    border-radius: 30px;
    width: 15em;
    height: 10em;
    text-align: center;
}






#sortBy {
    display: inline-block;
    float: right;
}


.cardSection {
    display: flex;
    width: 100%;
    margin: 3em;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5em;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-color: #425F57;
    border: #425F57 solid 2em;
    align-items: center;
    border-radius: 2em;
}

.card:hover{
    cursor: pointer;
}

.fixedResultsBar {
    height: 5em;
    position: fixed;
    width: inherit;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}


.movieInfoContainer{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}